.app-header {
	height: 10vh;
	width: 100%;
	width: 100%;
	margin: 0 auto;

	.header-layout {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.nav-links {
		height: 100%;
		display: flex;
		align-items: center;
		div {
			font-size: 2rem;
			margin-right: 80px;
		}
		a {
			margin-right: 40px;
			text-decoration: none;
			font-size: 1.5rem;

			transition: 0.2s;
		}
		a:hover {
			color: $lc;
		}
	}
	button {
		color: $white;
		font-size: 1rem;
		border: 2px solid $white;
		border-radius: 40px;
		background-color: transparent;
		height: 50px;
		width: 150px;
		transition: all 0.3s;
	}
	button:hover {
		color: $dg;
		background-color: $white;
	}
}
